<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cloud="http://schema.cloudfoundry.org/spring"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.1.xsd
		http://schema.cloudfoundry.org/spring http://schema.cloudfoundry.org/spring/cloudfoundry-spring-0.8.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="tiles-context.xml" />

	<import resource="classpath:security-context.xml" />

	<import resource="classpath:mongo-context.xml" />

	<beans profile="cloud">
		<mongo:db-factory id="mongoDbFactory" dbname="${mongo.name}"
			host="${mongo.host}" port="27017" username="${mongo.username}"
			password="${mongo.password}" />
	</beans>
	<beans profile="cloudbees">
		<mongo:db-factory
			uri="mongodb://yodes:reloaded@linus.mongohq.com:10045/Jsw6qTypcBWxfAZFbc6w" />
	</beans>
	<beans profile="default">
		<mongo:db-factory host="localhost" port="27017"
			dbname="stonewall" />
	</beans>


</beans>